body {
	font-family: 'Source Code Pro', monospace, 'Playfair Display', serif, 'Assistant', sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #dee2e6;
}

.feather-align-center {
	padding: 0px 2px 4px 2px;
}

.feather-16 {
	width: 16px;
	height: 16px;
}

.feather-20 {
	width: 20px;
	height: 20px;
}

.feather-24 {
	width: 24px;
	height: 24px;
}

.feather-32 {
	width: 32px;
	height: 32px;
}